<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link data-th-href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet">
	<title>Formulario</title>
</head>
<body>

	<header data-th-replace="~{/fragments/header :: navbar}"></header>
	
	<main class="container">
		<h1> Inscripción a Materias </h1>
		<form data-th-object="${nuevoAlumno}" data-th-action="@{/guardarInscripcion}"  method="post">
			<div class="mb-3 col-sm-6">
    			<label for="lu" class="form-label">Ingrese a su Libreta Universitaria (LU)</label>
    			<input type="number" class="form-control" id="lu" data-th-field="*{lu}"required placeholder="L.U.">
  			</div>
  			<div data-th-object="${nuevaMateria}" class="mb-3 col-sm-6">
  				<label for="materia" class="form-label" >Materia que se desea inscribir</label>
  				<select id ="materia" data-th-field="*{codigo}" class="form-control" required> <!-- data-th:each="m : ${listadoMaterias}" -->
					<option value="">Seleccionar Materia</option>
					<option data-th-each="m : ${listadoMaterias}" data-th-value="${m.codigo}" data-th-text="${m.nombre}"></option> <!-- data-th-value="${m.nombre}" data-th:text="${m.nombre}"-->
				</select>
  			</div>
  			<button type="submit" class="btn btn-primary">Inscribirse</button>
		</form>
	</main>
	
	<footer data-th-replace="~{/fragments/footer :: footer}"></footer>
	
	<script type="text/javascript" data-th-src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>